<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Local Library</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <nav class='sidebar-nav'>
      <a href='/catalog' class="nav-title">
        <h1>Local Library</h1>
      </a>
      
      <div class="nav-links">
        <a href='/catalog/books'>📚 Library</a>
        <a href='/catalog/bookinstances'>📖 Books</a>
        <a href='/catalog/authors'>👤 Authors</a>
        <a href='/catalog/genres'>🎲 Genres</a>
      </div>
      
      <div class="nav-links">
        <a href='/catalog/book/create'>➕ Add Book</a>
        <a href='/catalog/bookinstance/create'>➕ Add Book Copy</a>
        <a href='/catalog/author/create'>➕ Add Author</a>
        <a href='/catalog/genre/create'>➕ Add Genre</a>
      </div>
    </nav>
    
    <main>
      <section>
        <h2><%= title %></h2>

        <form method="post" action="">
          <label for="title">
            <span>Title</span>
            <input type="text" name="title" id="title" placeholder="Name of book" value="<%= (typeof book === "undefined") ? "" : book.title %>">
          </label>

          <label for="author">
            <span>Author</span>
            <select name="author" id="author">
              <% authors.sort((a, b) => {
                let textA = a.family_name.toUpperCase();
                let textB = b.family_name.toUpperCase();
                return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
              }) %>

              <% authors.forEach((author) => { %> 
                <% if (typeof book === "undefined") { %>
                  <option value="<%= author._id %>"><%= author.name %></option> 
                <% } else { %>
                  <option value="<%= author._id %>" <%= (author._id.toString()===book.author._id.toString()) ? "selected" : "" %>><%= author.name %></option>
                <% } %> 
              <% }) %> 
            </select>
          </label>

          <label for="isbn">
            <span>ISBN</span>
            <input type="text" name="isbn" id="isbn" placeholder="ISBN13" value="<%= (typeof book === "undefined") ? "" : book.isbn %>">
          </label>

          <label for="summary">
            <span>Summary</span>
            <textarea name="summary" id="summary" placeholder="About this book" rows="5"><%= (typeof book === "undefined") ? "" : book.summary %></textarea>
          </label>

          <label for="genre">
            <span>Genre</span>
            <div class="checkbox-group">
              <% genres.forEach((genre) => { %>
                <div class="checkbox-item">
                  <input type="checkbox" name="genre" id="<%= genre._id %>" value="<%= genre._id %>" <%= (genre.checked) ? "checked" : "" %>>
                  <label for="<%= genre._id %>"><%= genre.name %></label>
                </div>
              <% }) %>
            </div>
          </label>

          <button type="submit" class="btn btn-primary">Submit</button>

          <ul class="error-list">
            <% if (typeof errors !== "undefined" && errors.length > 0) { %>
              <% errors.forEach((error, index) => { %>
                <li class="error-item"><%= error.msg %></li>
              <% }) %>
            <% } %>
          </ul>
        </form>
      </section>
    </main>

    <footer>
      <p>
        &copy;<a href="https://github.com/gregolive" target="_blank" class="footer-link">gregolive</a>
      </p>
    </footer>
  </div>
</body>
</html>