<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Local Library</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <nav class='sidebar-nav'>
      <a href='/catalog' class="nav-title">
        <h1>Local Library</h1>
      </a>
      
      <div class="nav-links">
        <a href='/catalog/books'>📚 Library</a>
        <a href='/catalog/booksinstances'>📖 Books</a>
        <a href='/catalog/authors'>👤 Authors</a>
        <a href='/catalog/genres'>🎲 Genres</a>
      </div>
      
      <div class="nav-links">
        <a href='/catalog/book/create'>➕ Add Book</a>
        <a href='/catalog/author/create'>➕ Add Author</a>
        <a href='/catalog/genre/create'>➕ Add Genre</a>
      </div>
    </nav>
    
    <main>
      <section>
        <h2><%= title %></h2>
        <p>Welcome to <em>LocalLibrary</em>, a very basic Express website developed as a <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website" target="_blank">tutorial example</a> on the Mozilla Developer Network.</p>
      </section>

      <section>
        <h3>Library Stats</h3>
        
        <% if (error) { %>
          <p>Something went wrong! Error loading content.</p>
        <% } else { %>
          <p>The library has the following record counts:</p>
          <ul>
            <li><strong>Books:</strong> <%= data.book_count %> </li>
            <li><strong>Copies:</strong> <%= data.book_instance_count %> </li>
            <li><strong>Copies available:</strong> <%= data.book_instance_available_count %> </li>
            <li><strong>Authors:</strong> <%= data.author_count %> </li>
            <li><strong>Genres:</strong> <%= data.genre_count %> </li>
          </ul>
        <% } %>
      </section>
    </main>

    <footer>
      <p>
        &copy;<a href='' target="_blank" class="footer-link">gregolive</a>
      </p>
    </footer>
  </div>
</body>
</html>
